* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  background-color: #f6fbff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 600px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 11px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}
.box::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  clip-path: circle(50% at left 10%);
  background: red;
  height: 170px;
  width: 170px;
}
#slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  box-sizing: border-box;
}
.card {
  padding: 0 60px 0 30px;
  width: 100%;
  height: 100%;
}
.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0px;
  column-gap: 15px;
}
.profile img {
  width: 70px;
  border-radius: 50%;
  border: 3px solid #fff;
}
.profile h3 {
  font-size: 1.7rem;
  margin-bottom: 5px;
  color: red;
}
.profile p {
  color: gray;
}
.card p {
  text-align: justify;
  line-height: 22px;
  letter-spacing: 1px;
}
.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  box-sizing: border-box;
}
.sidebar img {
  width: 30px;
  cursor: pointer;
}
::selection {
  background: red;
  color: #fff;
}
